@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@font-face{
    font-family:'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}
            
            body{
                background-color: #dddddd;
                font-family: Arial,sans-serif;
            
            }

            div#interface{
                width: 900px;
                background-color: #fff;
                margin: -20px auto 0px auto;
                box-shadow: 0px 0px 10px rgba(0,0,0,.5);
                padding: 10px;
                
            }

            section#corpo{
                display: block;
                float: left;
                width: 492px;
                border-right: 1px solid #888888;
                padding-right: 12px;
                margin-right: 11px;

            }

            article#noticia-principal h2{
                font-size: 12pt;
                color: #606060;
                background-color: #dddddddd;
                padding: 4px 0px 4px 12px;
                margin: 10px 0 10px 0 10px;

            }
            

            header#cabecalho-artigo h1{
                font-family:'FonteLogo', sans-serif;
                font-size: 24pt;
                color: #606060ce;
                background-color: #ffffff;
                margin-bottom: 0px;


            }
            header#cabecalho-artigo h2{
                font-size: 12pt;
                color: #cecece;
                background-color: #ffffff;
                margin: 0px;

            }


            table#tabelaspec{
                border: 1px solid #888888;
                border-spacing: 0px;
                margin-left: auto;
                margin-right: auto;
                vertical-align: middle;
                text-align: center;

            }
            table#tabelaspec td{
                border: 1px solid #888888;
                padding: 10px;
            }
            
            table#tabelaspec td.ce{
                color: #ffffff;
                background-color: #413f3fa9;
                vertical-align: top;
                font-weight: bolder;

            }

            table#tabelaspec td.cd{
                background-color: #cececece;
            }

            table#tabelaspec caption{
                color: #888888;
                font-size: 12pt;
                font-weight: bolder;

            }

            table#tabelaspec caption span{
                display: block;
                float: right;
                color: #000000;
                font-size: 8pt;
                margin-top: 7px;
                text-decoration: none;

            }

            aside#lateral{
                display: block;
                float: right;
                width: 340px;
                background-color: #c0bdbdcc;
                padding: 22px;
                margin-top: 10px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
            }

            aside#lateral h1{
                font-family:'FonteLogo';
                font-size: 24pt;
                color: #606060ce;

            }
            
            aside#lateral h2{
                background-color: #9b9b9b;
                color: #fff;
                padding: 4px 0px 4px 4px;
                font-size: 13pt;
                margin-left: -22px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

            }

            footer#rodape{
                clear: both;
                text-align: center;
                padding: 7px; 
                border-top: 1px solid #888888

            }

            header#cabecalho img#icone{
                position: absolute;
                left: 882px;
                top: 50px;

            }
            
            header#cabecalho{
                border-bottom: 1px #60606060 solid;
                height: 180px;
                background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 120px;

            }
            header#cabecalho h1{
                font-family: 'FonteLogo', sans-serif;
                font-size: 35pt;
                color: #60606060;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
                margin-bottom: 0px;
            }
            
            header#cabecalho h2{
                font-family: 'Titillium Web', sans-serif;
                font-size: 16pt;
                color: #888888;
                margin-top: 0px;

            }
        
            p {
                text-align: justify;
                text-indent: 50px;
            }
            span {
                text-decoration: underline;
                font-weight: 900;
            }
            h2 {
                padding-top: 4px;
                padding-left: 4px;
                padding-right: 4px;
                padding-bottom: 4px;
                
            }

            figure.foto-legenda{
                position: relative;
                border: 8px solid white;
                box-shadow: 1px 1px 4px black;

            }
            figure.foto-legenda img{
                width: 100%;
                height: 100%;
            }
            figure.foto-legenda figcaption{
                padding: 10px;
                opacity: 0;
                transition: opacity 1s;
                box-sizing: border-box;
                position: absolute;
                top: 14px;
                background-color: rgba(0, 0, 0, 0.4);
                color: white;
                width: 100%;
                height: 100%
                
            }
        
            #foto-grande{
                text-align: center;
            }

            figure.foto-legenda:hover figcaption{
                opacity: 100;
            }
            nav#menu{
                display: inline-block;

            }
            nav#menu li {
                transition: background-color 1s;
                display: inline-block;
                background-color: #dddddd;
                padding: 3px;
                margin: 1px;

            }
            header#cabecalho ul {
                display: auto;
                list-style: none;
                position: absolute;
                top: -20px;
                left: 499px;
                font-weight: normal;
                
            }
            nav#menu li:hover{
                background-color: rgba(123, 124, 122, 0.877);
            }
            
            nav#menu a{
                color: #000000;
                text-decoration: none;
            }
            nav#menu a:hover{
                color: #ffffff;
            }
